::-webkit-scrollbar {
    width: 4px ;
    color: #7213EA;
  }

.under{
  position: relative;
}
.under::after{
  content: "";
  background-image: url("../Assets/res/Underline.png")  ;
  background-repeat: no-repeat;
  top:40px;
  left:-6%;
  position: absolute;
  width: 160%;
  height: 100%;
  
}

.background{
  background-image: url("../Assets/res/back.png");
  background-position: top  bottom ;
 object-fit: cover;
}

*{
  scroll-behavior: smooth;
}